<div class="grain"></div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://reaganray.com/img/blog/vhs-books/vhs-books.jpg);">
    <div class="container">
      <h1>80's MOVIES MIXTAPE</h1>
      <%# <h1>Save any kind of movies</h1> %>
      <a class="btn btn-flat" href="/lists/new">Create a movie list</a>
    </div>
  </div>

  <div class="container mt-5">
    <h2>My lists</h2>

    <div class="box">
      <% @lists.each do |list| %>
        <div>
          <%= link_to list_path(list) do %>
            <div >
              <%= list.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
