// Define variables for your color scheme

// For example:
$red: #d21215;
$blue: #670BFF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #181717c9;
$dark-gray: #1b2024;
$light-gray: #F4F4F4;
$white: rgb(245, 243, 238);
