.banner {
  background-size: cover;
  padding: 150px 0;
  height: 50vh;
  background-position: center top;
  color: $white;
  position: relative;
}

.banner h1 {
  font-size: 90px;
}

.banner p {
  font-size: 20px;
  opacity: .7;
}

.banner h1,
.banner p {
  text-shadow: 5px 5px 10px  $black;
}

@media only screen and (max-width: 768px) {
  .banner{
    padding: 110px 10px;
    height: 30vh;
  }

  .banner h1{
    font-size: 40px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .banner{
    height: 40vh;
  }
}
