.box{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.box a {
  float: left;
  display: block;
  margin: 0 0 -1px 5px;
  line-height: 1.71428571;
  background: url('vhs-cassette-with-white-cover-front-side_621211-89.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  white-space: nowrap;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: scale(-1);
  height: 400px;
  text-decoration: none;
  text-align: center;
  box-shadow: 5px 5px 20px  $dark-gray;
  font-size: 40px;
}

.card-category h1, .box a{
  color: $gray;
  font-family: 'Yellowtail', cursive;
}

.card-category h1{
  font-size: 50px;
}

.card-category {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
